---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="information-container">
			<div class="image-container">
				<img src="../../public/mijel.jpg" alt="Mijelpalcabello image">
			</div>
			<div class="name-container">
				<span>@mijelpalcabello</span>
			</div>
		</div>

		<div class="links-container">
			<Card href="google.com" title="youtube" icon="icon" />
			<Card href="google.com" title="Github" icon="icon" />
		</div>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100vh;
		background-image: url('../../public/bg.jpg');
		background-size: cover;
		background-position: center;
	}

	.information-container {
		color: white;
		width: 300px;
		margin: auto;
		padding-top: 20px;
	}

	.information-container .image-container{
		text-align: center;
	}

	.information-container .image-container img{
		width: 140px;	
		border: 1px solid white;
	}

	.name-container {
		margin-top: 10px;
		text-align: center;
	}

	.name-container span {	
		padding: 4px;
		background-color: grey;
		border-radius: 15px;
		border: 1px solid white;		 
	}
	
	.links-container {
		margin-top: 50px;
	}
</style>
