---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="information-container">
			<div>Imagen yo</div>
			<div class="name-container">
fas
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100vh;
		background-image: url('../../public/bg.jpg');
		background-size: cover;
		background-position: center;
	}

	.information-container {
		color: white;
		width: 300px;
		margin: auto;
		padding-top: 20px;
	}

	.name-container {
		background-color: skyblue;
	}
</style>
