---
interface Props {
	title: string;
	icon: string;
	href: string;
}

const { href, title, icon } = Astro.props;
---

<div class="card-link">
	<a href={href}>{ title }</a>
	<!-- <img src={icon} alt="title"> -->
</div>

<style>
	.card-link {
	margin: 20px auto;
	padding: 14px 24px;
	width: 350px;
	background-color: rgba(255, 255, 255, 0.4); /* Fondo blanco con blur */
	text-align: center;
	border-radius: 15px;
	backdrop-filter: blur(10px); /* Añadir blur al fondo */
	color: white; /* Cambiar el color del texto a negro */
	font-weight: bold;
}

.card-link a {
	text-decoration: none;
	color: inherit; /* Heredar el color del texto de .card-link */
	font-size: 20px;
	font-weight: bold;
}
</style>
